In [3]:
import pandas as pd 

df_names = pd.read_csv("name_gender_dataset.csv")

In [5]:
df_names.head(10)

      Name Gender    Count  Probability
0    James      M  5304407     0.014517
1     John      M  5260831     0.014398
2   Robert      M  4970386     0.013603
3  Michael      M  4579950     0.012534
4  William      M  4226608     0.011567
5     Mary      F  4169663     0.011411
6    David      M  3787547     0.010366
7   Joseph      M  2695970     0.007378
8  Richard      M  2638187     0.007220
9  Charles      M  2433540     0.006660

In [7]:
print(df_names.shape)

(147269, 4)

In [10]:
filtered_df = df_names[(df_names["Name"] == "Mary")]
filtered_df

      Name Gender    Count  Probability
5     Mary      F  4169663     0.011411
2086  Mary      M    15306     0.000042

In [12]:
## Null check
nan_check = df_names.isna().sum()
nan_check

Name           0
Gender         0
Count          0
Probability    0
dtype: int64

TEST

TEST2